<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.cook_kok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recommendActivity4"></activity>
        <activity android:name=".recommendActivity3" />
        <activity android:name=".recommendActivity2" />
        <activity android:name=".showActivity" />
        <activity android:name=".rouletteActivity" />
        <activity android:name=".recommendActivity" />
        <activity android:name=".listActivity" />
        <activity android:name=".List_korea"></activity>
        <activity android:name=".List_china"></activity>
        <activity android:name=".List_japan"></activity>
        <activity android:name=".List_western"></activity>
        <activity android:name=".List_others"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>