<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.cook_kok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_burger"
        android:label="쿡콕"
        android:roundIcon="@mipmap/ic_burger_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
        </activity>
        <activity android:name=".Put_nameActivity" />
        <activity android:name=".RecommendResultActivity" />
        <activity android:name=".RecommendQ1Activity" />
        <activity android:name=".RecommendQ2Activity" />
        <activity android:name=".RecommendQ3Activity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".RouletteActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".List_korea" />
        <activity android:name=".List_china" />
        <activity android:name=".List_japan" />
        <activity android:name=".List_western" />
        <activity android:name=".List_others" />
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>